<div class="container">
    <div class="heading">
        <h1>Registration Form</h1>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
        <div>
            <input type="text" name="fname" [pattern]="'^[a-zA-Z]{2,15}$'" formControlName="fname" placeholder="first name">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="fname && fname.touched && fname.invalid" >Please enter a valid name !!</span>
            <input type="text" name="lname" [pattern]="'^[a-zA-Z]{2,15}$'" formControlName="lname" placeholder="last name">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="lname && lname.touched && lname.invalid" >Please enter a valid name !!</span>
        </div>
        <div>
            <input type="text" name="phone" [pattern]="'^[0-9]{10,15}$'" formControlName="phone" placeholder="Enter phone number ">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="phone && phone.touched && phone.invalid" >Please enter a valid number !!</span>
            <input type="email" name="email" id="email" formControlName="email" placeholder="Enter email ">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="email && email.touched && email.invalid" >Please enter a valid email !!</span>
        </div>
        <div>
            <label for="gender">Gender : </label>
            Male  <input type="radio" name="gender" formControlName="gender" value="male">
            Female  <input type="radio" name="gender" formControlName="gender" value="female">
        </div>
        <div>
            <input type="text" name="user" [pattern]="'[a-zA-Z]{4,6}[0-9]{3,6}'" formControlName="username" placeholder="Enter username">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="username && username.touched && username.invalid" >Please enter a valid username !!</span>
            <input type="date" name="dob" formControlName="dob" placeholder="Enter your DOB">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="dob && dob.touched && dob.invalid" >Please enter a valid DOB !!</span>
        </div>
        <div>
            <input type="password" formControlName="password" [pattern]="'[a-zA-Z0-9-@$#]{8,12}'" name="password" placeholder="Enter password">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="password && password.touched && password.invalid" >Please enter a valid password !!</span>
            <input type="confirm password" [pattern]="'[a-zA-Z0-9-@$#]{8,12}'" formControlName="cpassword" placeholder="confirm password">
            <span [style.color]="'red'" [style.fontSize]="'22px'" *ngIf="cpassword && cpassword.touched && cpassword.invalid" >Please enter a valid password !!</span>
        </div>
        <div>
            <button type="submit" (click)="resetValue(res)" [disabled]="signupForm.invalid">Submit</button>
            <button type="reset" #res>Reset</button>
        </div>
    </form>
</div>